@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
